ce-app {
    display:block;
    width:100%;
    margin:30px 20px;

    .autocomplete-container,
    ce-product-detail {
        display:inline-block;
        position:relative;
        float:left;
        margin:0 10px;
        width:calc(50% - 20px);
    }
}

ce-app::after {
    clear:both;
    display:block;
    content: " ";
}

@import "autocomplete.component";
@import "product-detail.component";
@import "product-item.component";