:host {
    display:block;
    cursor:pointer;
    height:50px;
    margin: 20px 0;
    overflow:hidden;
    transition: height 500ms;
    outline:none;
}

img, .search-result-item-details {
    display: inline-block;
    float: left;
}

img {
    height: 50px;
    border: 0;
}

.search-result-item-details {
    width: calc(100% - 140px);
    padding: 0 20px;
}

h2 {
    font-size: .8em;
}

.search-result-item-container:after {
    clear: both;
    content: " ";
    display: block;
}

:host(.active) {
    height:290px;
}