:host {
    position: absolute;
    z-index: 90;
    touch-action: none;
}


:host(.horizontal) {
    cursor: ns-resize;
    left: 0;
    width: 100%;
    height: 4px;
}


:host(.horizontal.minimum) {
    cursor: s-resize;
}

:host(.horizontal.maximum) {
    cursor: n-resize;
}