:host {
    display: block;
    font-family: Montserrat;    
}

img {
    width: 82px;
    display: block;
}

.search-result-item-detail-name {
    
}

.search-result-item-detail-category {
    display: inline-block;
    line-height: 2.5em;
    font-size: .6em;
    padding: 0 10px;
    color: #fff;
    background-color: orangered;
}

.search-result-item-detail-details-container {
    width: calc(100% - 82px);
}

img,
.search-result-item-detail-details-container {
    position: relative;
    float: left;
    display: inline-block;
}

:host(::after) {
    content: " ";
    display:block;
    clear:both;
}