:host {
    display: grid;
    font-family: Montserrat;    
    grid-template-columns: min-content 1fr;
}

img {
    width: 82px;
    display: block;
}

h3:first-of-type {
    background-color: #ff4500;
    color: #ffffff;
    display: inline-block;
    font-size: .6em;
    line-height: 2.5em;
    padding: 0 10px;
}