:host {
    cursor: pointer;
    display: grid;
    font-family: Montserrat;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 50px 240px;
    height: 50px;
    margin: 20px 0;
    outline: none;
    overflow: hidden;
    transition: height 500ms;
}

:host(.active) {
    height: 290px;
}

h2 {
    font-size: .8em;
    grid-column: 2;
    grid-row: 1;
    padding: 0 20px;
    width: calc(100% - 140px);
}

img {
    border: 0;
    grid-column: 1;
    grid-row: 1;
    height: 50px;
}

ce-search-result-item-detail {
    grid-column: 1/3;
    grid-row: 2;
}